$default-size: 20px;
$default: #282828;
$primary: #3fab95;
$secondary:#edb6c9;
$light-grey: #fefefe;
$font-grey: #999;
$white: #fff;
$directions: start,
end,
flex-end,
flex-start,
center,
space-evenly,
space-between;